<h1 class="title">Vista de Productos(hbs)</h1>
<table class="table table-dark table-borderless">
  <thead>
    <tr class="row-table">
      <th>Nombre</th>
      <th>Precio</th>
      <th>Foto</th>
    </tr>
  </thead>
  <tbody>
    {{#if productos}}
      {{#each productos}}
        <tr class="row-table">
          <td>{{this.title}}</td>
          <td>{{this.price}}</td>
          <td><img src={{this.thumbnail}} width="50px" /></td>
        </tr>
      {{/each}}
    {{else}}
      <tr class="row-table">
        <td class="message" colspan="3">No se encontraron productos</td>
      </tr>
    {{/if}}
  </tbody>
</table>